.container{
    border: 2px solid black;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 630px;
    width: 100%;
}
.row{
    /* border: 1px solid blue;   */
    display: flex;
    gap: 2px;
    justify-content: center;
}
.column{
    border: 1px solid green;
    height: 35px;
    width: 35px;
}

.btn{
    background-color: crimson;
    font-size: 1rem;
    margin-bottom: 5px;
}